:root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light-gray: #F0F0F0;
    --dark-gray: #E6E6E6;
}


/*      Document Setup      */
body {
    background-color: var(--light-gray);
}

body * {
    font-family: "Abel", sans-serif;
}


/*      Navigation Bar      */
.navbar-logo {
    width: 25px;
    margin-right: 1em;
}

h1, h2, h3 {
    font-family: "Anton", sans-serif;
}

h1 {
    font-size: 3.5em;
}


/*      Circles!     */
.circles * {
    margin: 0.5em;
    border: 5px solid white;
    font-family: "Anton", sans-serif;
}

.red-design-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6563B;
    border-radius: 5em;
    width: 5em;
    height: 5em;
    color: white;
}
.orange-develop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB9D3A;
    border-radius: 5em;
    width: 5em;
    height: 5em;
    color: white;
}
.green-support-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7CB06C;
    border-radius: 5em;
    width: 5em;
    height: 5em;
    color: white;
}
.blue-host-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ABA9;
    border-radius: 5em;
    width: 5em;
    height: 5em;
    color: white;
}

