:root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light-gray: #F0F0F0;
    --dark-gray: #E6E6E6;
}

body {
    background-color: var(--light-gray);
}

body * {
    font-family: "Abel", sans-serif;
}

.navbar-logo {
    width: 25px;
    margin-right: 1em;
}

h1, h2, h3, .placeholder {
    font-family: "Anton", sans-serif;
}

h1 {
    font-size: 3.5em;
}

.placeholder {
    box-sizing: border-box;
    color: white;
    height: 105px;
    width: 105px;
    background-color: #7CB06C;
    border: 15px solid white;
    border-radius: 100%;
}